<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <a href="/auth/google"> <button style="border-radius: 10px; background-color: cadetblue; margin-top: 20%; height: 2.5rem; font-size: 2rem;">
        Sign In with Google
    </button>
    </a>

</body>
</html>